layout {

    focus-ring {
        active-color   "#a3c9ff"
        inactive-color "#101419"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a3c9ff"
        inactive-color "#101419"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a3c9ff"
        inactive-color "#4593eb"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a3c9ff80"
    }
}

recent-windows {
    highlight {
        active-color "#a3c9ff"
        urgent-color "#ffb4ab"
    }
}
