layout {

    focus-ring {
        active-color   "#adc7fb"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#adc7fb"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#adc7fb"
        inactive-color "#7791c2"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#adc7fb80"
    }
}

recent-windows {
    highlight {
        active-color "#adc7fb"
        urgent-color "#ffb4ab"
    }
}
